.chip{
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    color: #fff;
 background: linear-gradient(to right,#6190e8,#a7bfe8);
 text-transform: capitalize;
}