*{
  margin: 0;
  padding: 0;
}

.wedding-categories {
    padding: 40px;
    text-align: center;
  }
  
  .wedding-categories h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  .wedding-categories p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  .categorys-tabs{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
    font-size: large;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
  }
  
  .categorys-tab{
     padding: 10px 20px;
     border-bottom: 2px solid transparent;
     cursor: pointer;
     transition: all 0.3s ease;
  }

  .categorys-tabs:hover{
    border-bottom: 2px solid #000;
    font-weight: bold;
  }
  

  /* images gird */
  .categorys-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
   margin-bottom: 20px;
   font-family: "Roboto", sans-serif;
  }
.categorys-item h1{
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
}
  .categorys-item{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .categorys-item img{
    height: auto;
    object-fit: cover;
    margin-top: 20px;
  }
  .item-info{
    padding: 10px;
  }

  .item-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
  }

  .item-info p{
    font-size: 0.9rem;
    color: #666;
    font-family: "Roboto", sans-serif;
  }

  

  .categorys-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .categorys-item:hover::after {
    opacity: 1;
  }
  
  .categorys-item img {
    transition: transform 0.3s ease;
  } 
  
   .categorys-item:hover img {
    transform: scale(1.05);
  } 
  

  /* button */
  .view-all {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid black;
    /* font-family: "Roboto", sans-serif; */
  }
  
  
  