.search-wrap{
    color: #f0f0f0;
    margin: 2.5rem auto 4rem auto;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 5px;
    height: 2rem;
}

.search-wrap form{
    display:flex ;
    align-items: center;

}

.search-wrap input{
    background-color: #f0f0f0;
    border: none;
    outline: none;
    width: 90%;
    padding: 6px;
    border-radius: 5px;
}

.search-wrap span{
    padding-right: 0.5rem;
    cursor: pointer;
}

.search-wrap button{
    outline: none;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #fff;
}